---
layout: default
---


<main role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
     <div class="container">
          <h2 class="title is-2 has-text-centered has-text-weight-bold">Últimos posts</h2>
          <ul class="columns is-multiline m-t-60 p-b-60">
               {% for post in site.posts %}
               <li class="column is-one-third wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                    <div class="media">
                        <div class="media-content">
                            <article class="post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                                <div class="card box">
                                    <a href="{{ post.url | prepend: site.baseurl }}">
                                        <div class="ribbon">
                                            <span>{{ post.main-class }}</span>   
                                        </div>
                                        <meta itemprop="datePublished" content="{{post.date}}">
                                        <time class="card-date" datetime="{{ post.date | date_to_xmlschema }}">
                                            {% include date.html date=post.date %}
                                        </time>
                                        <h2 class="card-title title is-4" itemprop="name">{{ post.title }}</h2>
                                        <p class="card-description description">
                                            {{ post.content | strip_html | truncatewords:20 }}
                                        </p>
                                    </a>
                                    <div>
                                        {% for tag in post.tags %}
                                        <a class="card-tags" href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a> {%
                                        endfor %}
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </li>
               {% endfor %}
           </ul>                    
     </div>
</main>

