---
layout: default
---


<main role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
     <div class="container">
               <h2 class="title is-2 has-text-centered has-text-weight-bold">Últimos posts</h2>
               <ul class="columns is-multiline p-b-60">
                    {% for post in site.posts %}
                    <li class="column is-one-third">                       
                              <div class="box">   
                                   <div class="media">
                                        <div class="media-content">
                                        <article itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                                             <a href="{{ post.url | prepend: site.baseurl }}">     
                                             <meta itemprop="datePublished" content="{{post.date}}">
                                                  <time datetime="{{ post.date | date_to_xmlschema }}">
                                                       {% include date.html date=post.date %}
                                                  </time>                                                                             
                                                  <h2 class="title is-4" itemprop="name">{{ post.title }}</h2>
                                                  <p class="description">
                                                       {{ post.content | strip_html | truncatewords:20 }}                                                
                                                  </p>
                                             </a>
                                             <div class="tags">
                                                  {% for tag in post.tags %}
                                                       <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                                                  {% endfor %}
                                             </div> 
                                        </article>  
                                        </div>    
                                   </div>
                              </div>
                    </li>
                    {% endfor %}
               </ul>              
          </div>
</main>

