---
layout: index
---

<!-- MAIN -->
<main class="container main-container panel" id="main" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog" data-section-name="content">


    <!-- LAST POSTS -->
    <section id="last-posts" class="content-main p-t-80">
        <!-- TITULO -->
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Últimos posts</h2>
        <!-- /TITULO -->

        <!-- LISTA DE POSTS -->

        <ul class="columns card-list is-multiline p-t-20 p-b-30">
            {% for post in site.posts offset: 0 limit: 6 %}
            <li class="column is-one-third wow slideInUp card-item" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <div class="media">
                    <div class="media-content">
                        <article class="post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                            <div class="card box">
                                <div class="ribbon">
                                    <a href="{{site.url}}{{site.baseurl}}/category/{{post.main-class}}" title="{{post.main-class}}"><span>{{post.main-class}}</span></a>
                                </div>
                                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                                    <meta itemprop="datePublished" content="{{post.date}}">
                                    <time class="card-date" datetime="{{ post.date | date_to_xmlschema }}">
                                        {% include date.html date=post.date %}
                                    </time>
                                    <h2 class="card-title title is-4" itemprop="name">{{ post.title }}</h2>
                                    <p class="card-description description">
                                        {{ post.introduction | strip_html | truncatewords:20 }}
                                    </p>
                                </a>
                                <div>
                                    {% for tag in post.tags %}
                                    <a class="card-tags" href="{{ site.baseurl }}/tags/#{{tag | slugify }}" title="{{ tag }}">#{{ tag }}</a>                                    
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- LISTA DE POSTS -->

        <!-- BUTTON VER MAIS -->
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <a href="/blog" title="Veja mais" class="button button-hero has-text-centered is-primary">Veja Mais</a>
            </div>
        </div>
        <!-- /BUTTON VER MAIS -->
    </section>
    <!-- /LAST POSTS -->


    <section id="projetos" class="content-main p-t-60">
       <!-- TITULO -->
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Projetos</h2>
       <!-- /TITULO -->     
    </section>

    <section id="sobre-mim" class="content-main p-t-60">
    <!-- TITULO -->
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Sobre mim</h2>
    <!-- /TITULO -->     
    </section>

    


</main>
<!-- MAIN -->