---
layout: index
img-src: "assets/dist/images/"
---

<!-- MAIN -->
<main class="panel" id="main" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog" data-section-name="content">


    <!-- LAST POSTS -->
    <section id="last-posts" class="container main-container content-main">
        <!-- TITULO -->
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Últimos posts</h2>
        <!-- /TITULO -->

        <!-- LISTA DE POSTS -->

        <ul class="columns card-list is-multiline p-t-20 p-b-30">
            {% for post in site.posts offset: 0 limit: 6 %}
            <li class="column is-one-third wow slideInUp card-item" data-wow-duration="0.8s" data-wow-delay="0.2s">
                <div class="media">
                    <div class="media-content">
                        <article class="post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                            <div class="card box">
                                <div class="ribbon">
                                    <a href="{{site.url}}{{site.baseurl}}/category/{{post.main-class}}" title="{{post.main-class}}"><span>{{post.main-class}}</span></a>
                                </div>
                                <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                                    <meta itemprop="datePublished" content="{{post.date}}">
                                    <time class="card-date" datetime="{{ post.date | date_to_xmlschema }}">
                                        {% include date.html date=post.date %}
                                    </time>
                                    <h2 class="card-title title is-4" itemprop="name">{{ post.title }}</h2>
                                    <p class="card-description description">
                                        {{ post.introduction | strip_html | truncatewords:20 }}
                                    </p>
                                </a>
                                <div>
                                    {% for tag in post.tags %}
                                    <a class="card-tags" href="{{ site.baseurl }}/tags/#{{tag | slugify }}" title="{{ tag }}">#{{ tag }}</a>                                    
                                    {% endfor %}
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <!-- LISTA DE POSTS -->

        <!-- BUTTON VER MAIS -->
        <div class="columns is-mobile is-centered">
            <div class="column is-narrow">
                <a href="/blog" title="Todos os posts" class="button button-hero has-text-centered is-primary">Todos os posts</a>
            </div>
        </div>
        <!-- /BUTTON VER MAIS -->
    </section>
    <!-- /LAST POSTS -->


    <section id="trabalhos" class="bg-grey-lighter">
        <div class="content-main container main-container ">
            <!-- TITULO -->
            <div class="has-text-centered">
                    <h2 class="title is-2 has-text-centered has-text-weight-bold">Alguns Trabalhos</h2>
                    <span class="subtitle">Quer ver mais? <a href="" class="link" title="Entre em contato">Entre em contato</a></span>
            </div>
            <!-- /TITULO --> 

            <!-- LISTA DE TRABALHOS -->

            <ul class="jobs-list">

                <!-- LOJA VIRTUAL MAGENTO -->

                <li>
                    <div class="columns is-tablet">
                        <div class="column wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3 class="title">LP Loja Virtual Magento UOL</h3>
                            <p class="jobs-description">Landing page criada para divulgar a Loja Virtual Magento, um dos produtos da UOL.</p>
                            <p class="jobs-company">- Front-end feito enquanto trabalhava na <a href="http://www.uol.com.br" target="_blank" title="UOL">UOL</a>.</p>
                            
                            <div class="has-text-centered has-text-left-tablet">
                                <a class="button" href="http://uolhost.uol.com.br/lp/loja-magento" target="_blank" title="Acesse o site">Acesse o site</a>                                    
                            </div>
                        
                        </div>
                        <div class="column wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <figure class="job-figure">
                                <a href="http://uolhost.uol.com.br/lp/loja-magento" target="_blank">
                                    <img src="{{ page.img-src }}trabalhos/img-loja-magento.jpg" alt="Imagem representando o layout do site da LP Loja Virtual Magento UOL.">
                                    <figcaption class="is-hidden">Imagem representando o layout do site da LP Loja Virtual Magento UOL.</figcaption>
                                </a>                                
                            </figure>
                        </div>
                                                                        
                    </div>
                </li>

                <!-- LOJA VIRTUAL MAGENTO -->

                <!-- RENAULT ESTORIL -->

                <li>
                    <div class="columns is-reverse is-tablet">
                        <div class="column wow fadeInRight" data-wow-duration="0.8s" data-wow-delay="0.2s">
                            <h3 class="title">Renault Estoril</h3>
                            <p class="jobs-description">Landing Page criada para aumentar as vendas dos carros 0Km da Renault Estoril em Santos.</p>
                            <p class="jobs-company">- Front-end feito enquanto trabalhava na <a href="http://www.dspa.com.br" target="_blank" title="DSPA">DSPA</a>.</p>

                            <div class="has-text-centered has-text-left-tablet">
                                <a class="button" href="http://www.renaultestoril.com.br/ofertas/" target="_blank"  title="Acesse o site">Acesse o site</a>
                            </div>
                            <a href="http://renaultestoril.com.br/mobile/" class="mobile-version" title="Versão mobile"><i class="fa fa-2x fa-lg fa-mobile" aria-hidden="true"></i> Versão mobile</a>
                        </div>
                        <div class="column wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.6s">
                            <figure class="job-figure">
                                <a href="http://www.renaultestoril.com.br/ofertas/" target="_blank">
                                    <img src="{{ page.img-src }}trabalhos/img-renault-estoril.JPG" alt="Imagem representando o layout do site da Renault Estoril">
                                    <figcaption class="is-hidden">Imagem representando o layout do site da Renault Estoril.</figcaption>
                                </a>
                            </figure>
                        </div>
                    </div>
                </li>

            <!-- RENAULT ESTORIL -->



            <!-- LISTA DE TRABALHOS -->

        </div>
    
    
    </section>

    <section id="sobre-mim" class="content-main p-t-60">
    <!-- TITULO -->
        <h2 class="title is-2 has-text-centered has-text-weight-bold">Sobre mim</h2>
    <!-- /TITULO -->     
    </section>

    


</main>
<!-- MAIN -->