---
layout: default
title: "Tags"
permalink: /tags/index.html
head-class: default
description: "Procure o que precisa através das #tags"
favicon: <i class="fa fa-hashtag" aria-hidden="true"></i>
hero-favicon: <i class="fa fa-hashtag" aria-hidden="true"></i>
---

<div class="tags-list">
    <ul class="tags">
            {% assign tags_list = site.tags %}
            {% if tags_list.first[0] == null %}
                {% for tag in tags_list %}
                    <li class="tags-item">
                        <a class="tag is-primary" data-scroll href="#{{ tag | slugify }}">#{{ tag }}</a>
                    </li>        
                {% endfor %}
            {% else %}
                {% for tag in tags_list %}
                    <li class="tags-item">
                        <a  class="tag is-primary" data-scroll href="#{{ tag[0] | slugify }}">#{{ tag[0] }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
        </ul>
</div>


<ul class="tags-post-list">
    <li class="tags-post-item">
        {% for tag in site.tags  %}
            <h2 class="title title-tag" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>
            <ul class="post-list">
                {% assign pages_list = tag[1] %}
                {% for post in pages_list reversed %}
                    {% if post.title != null %}
                    {% if group == null or group == post.group %}
                    <li>
                        <a title="{{ post.title }}" href="{{ site.url }}{{ post.url }}">
                            <h3 class="post-title">
                                {{ post.title }}
                            </h3>
                            <span class="entry-date">
                                <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                                    {{ post.date | date: "%B %d, %Y" }}
                                </time>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    {% endif %}
                {% endfor %}
                {% assign pages_list = nil %}
                {% assign group = nil %}
            </ul>
        {% endfor %}
    </li>
</ul>
