footer
     background:#4e4e4e
     padding: 40px 0

     p
          padding: 0 20px
          color: #fff
          strong
               display: block
               color: #fff


                   