footer
     background:#4e4e4e
     padding: 40px 0

     .footer-infos,
     .footer-phone
        margin: 0;
        padding-bottom: 10px
        color: #fff
        display: block

     .footer-phone
        .fa
            color: $blue
            font-size: 1.2em;
            padding-right: 0.4em;



                   