.hero 
    min-height: 100vh
    height: 100vh
    transform: translate3d(0,0,0)
    position: fixed
    width: 100%

.hero-body
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
