.content
     .redes
          margin: 0
          display: flex
          justify-content: center

     .redes-item
          margin: 0 0.3em

     .redes-link
          display: block
          color: #fff;

          .fa
               font-size: 1.2em
               width: 1.5em
               height: 1.5em
               border-radius: 2px
               line-height: 1.6em
               +transition (ease-in-out, 0.2s, all)

          &:hover
               .fa-facebook
                    background: #4267b2;
               .fa-github
                    background: #24292e;
               .fa-twitter
                    background: #1da1f2;
               .fa-linkedin
                    background: #0077b5;
               .fa-envelope-o
                    background: #C35163;




