.content
     .redes
          margin: 0
          display: flex
          justify-content: center

     .redes-item
          margin: 0 0.3em

     .redes-link
          width: 1.5em
          height: 1.5em
          display: block
          color: #fff;
          border-radius: 2px
          font-size: 1.2em

          .fa
               +transition (ease-in-out, 0.2s, all)  

          &:hover
               background: #fff
               .fa-facebook
                    color: #4267b2; 
               .fa-github
                    color: #24292e; 
               .fa-twitter
                    color: #1da1f2; 
               .fa-linkedin
                    color: #0077b5; 
     



