<!-- FACEBOOK -->
<script>
     window.fbAsyncInit = function () {
          FB.init({
               appId: '2011413979095249',
               xfbml: true,
               version: 'v2.10'
          });
          FB.AppEvents.logPageView();
     };

     (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) { return; }
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
</script>

<!-- GOOGLE -->
<script>
     (function (w, d, s, l, i) {
     w[l] = w[l] || []; w[l].push({
          'gtm.start':
          new Date().getTime(), event: 'gtm.js'
     }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
               'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
     })(window, document, 'script', 'dataLayer', 'GTM-TPKJPHG');
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-8076274235667930",
          enable_page_level_ads: true
     });
</script>


<!-- Facebook Pixel Code -->
<script>
          !function(f,b,e,v,n,t,s)
          {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
          n.callMethod.apply(n,arguments):n.queue.push(arguments)};
          if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
          n.queue=[];t=b.createElement(e);t.async=!0;
          t.src=v;s=b.getElementsByTagName(e)[0];
          s.parentNode.insertBefore(t,s)}(window, document,'script',
          'https://connect.facebook.net/en_US/fbevents.js');
          fbq('init', '190779964790158', {
            em: matheusvbarone@gmail.com,
            fn: matheus,
            ln: barone,
          });
          fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
          src="https://www.facebook.com/tr?id=190779964790158&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Facebook Pixel Code -->
        