<footer class="footer">
     <div class="container">
          <div class="content has-text-centered">
            <span class="footer-infos">
                © 2017 Matheus Barone | Desenvolvedor Front-end<br>
                <span>Feito por mim (com a ajuda de algumas xícaras de café).</span>
            </span>
            <a class="footer-phone" href="tel:+5513981252789"><i class="fa-lg fa fa-mobile" aria-hidden="true"></i>(13) 98125-2789</a>

			<ul class="redes">
                <li class="redes-item">
                    <a class="redes-link" href="https://www.facebook.com/matheusvbarone" target="_blank" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>                            
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://github.com/mathvbarone" target="_blank" title="Github">
                        <i class="fa fa-github" aria-hidden="true"></i>                           
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://twitter.com/matheusvbarone" target="_blank" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>                      
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://www.linkedin.com/in/matheusbarone/" target="_blank" title="Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>                               
                    </a>
                </li>
			</ul>
          </div>
     </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="{{ "/assets/dist/js/main.min.js" | prepend: site.baseurl }}"></script>