<footer class="footer wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
     <div class="container">
          <div class="content has-text-centered">
            <span class="footer-infos">
                © 2018 Matheus Barone | Software Engineer<br>
                {% if page.lang != 'en' %}
                <span>Feito por mim (com a ajuda de algumas xícaras de café).</span>
                {% endif %}
            </span>
            <a class="footer-phone" href="tel:+5513981252789"><i class="fa-lg fa fa-mobile" aria-hidden="true"></i>
              {% if page.lang == 'en' %}+55{% endif %} (13) 98125-2789
            </a>

			<ul class="redes">
                <li class="redes-item">
                    <a class="redes-link" href="https://www.facebook.com/matheusvbarone" target="_blank" title="Facebook">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://github.com/mathvbarone" target="_blank" title="Github">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://twitter.com/matheusvbarone" target="_blank" title="Twitter">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="https://www.linkedin.com/in/matheusbarone/" target="_blank" title="Linkedin">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </li>
                <li class="redes-item">
                    <a class="redes-link" href="mailto:matheusvbarone@gmail.com" target="_blank" title="Email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                </li>
			</ul>
          </div>
     </div>
</footer>


  <!-- STYLESHEET -->
  <link rel="stylesheet" href="{{ "/assets/dist/css/style.min.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <!-- STYLESHEET -->

<!-- SCRIPTS -->
<script async defer src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script src="{{ "/assets/dist/js/main.min.js" | prepend: site.baseurl }}"></script>
<!-- /SCRIPTS -->




<!-- FONTAWESOME -->
    <script src="https://use.fontawesome.com/f46f00c11e.js"></script>
<!-- FONTAWESOME -->
