<footer class="footer">
     <div class="container">
          <div class="content has-text-centered">
               <a href="#fullscreen-hero" class="footer-logo go" title="Matheus Barone | Desenvolvedor Front-End"><span></span></a>
			<p>Feito por mim (com a ajuda de algumas xícaras de café). <strong>© 2017</strong></p>
			<div class="redes">
				<a href="https://www.facebook.com/matheusvbarone" title="Facebook" target="_blank" class="fb"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="https://github.com/mathvbarone" title="Github" target="_blank" class="fb"><i class="fa fa-github" aria-hidden="true"></i></a>
			</div>
          </div>
     </div>
</footer>
<script src="{{ "/assets/dist/js/main.min.js" | prepend: site.baseurl }}"></script>