<header class="mast-header is-active">
	<div class="container">
		<!-- Main container -->
		<nav class="level is-mobile">
			<!-- Left side -->
			<div class="level-left">
				<a  href="/" class="level-item" title="© 2017 Matheus Barone - Desenvolvedor Front-end | Todos os Direitos Reservados">
					{% include logo-header.html %}															  
				</a>
			</div>

			<!-- Right side -->
			<nav class="menu">
				<ul class="level-right">
					<li class="level-item menu-item"><a class="menu-link" title="Home">Home</a></li>
					<li class="level-item menu-item"><a class="menu-link" title="Projetos">Projetos</a></li>
					<li class="level-item menu-item"><a class="menu-link" title="Contato">Contato</a></li>
					<li class="level-item menu-item"><a href="/blog" class="button is-primary menu-link" title="Blog">Blog</a></li>
				</ul>
			</nav>
		</nav>

	</div>
</header>
