{% include svg-icons/svg-sprite.html %}

<header class="mast-header {% if page.index %}{{ page.index }}{% endif %}">
  <div class="container">
    <!-- Main container -->
    <nav class="level is-mobile">
      <!-- Left side -->
      <div class="level-left">
        {% if page.lang == 'en' %}
        <a href="{{ site.url }}/en/" class="level-item" title="© 2018 Matheus Barone - Software Engineer | All Rights Reserved"></a>
        {% else %}
        <a href="{{ site.url }}/" class="level-item" title="© 2018 Matheus Barone - Software Engineer | Todos os Direitos Reservados"></a>
        {% endif %}
          {% include svg-icons/logo-simple.html %}
        </a>
      </div>

      <!-- Right side -->
      <nav class="menu">
        {% include menu.html %}
      </nav>
    </nav>

  </div>
</header>
