<!-- HERO -->
<section class="panel hero is-fullheight hero-index has-header" data-section-name="home">
    <div class="hero-index-body">
        <a href="/blog" title="© 2017 Matheus Barone - Desenvolvedor Front-end | Todos os Direitos Reservados">
            {% include logo-hero.html %}
        </a>
        <h1 class="title wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0.4s">
            Olá, meu nome é Matheus. <span>Sou desenvolvedor Front-end</span>
        </h1>
        <h2 class="subtitle wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0.6s">
            Isso quer dizer que crio
            <strong id="typed-strings">
            <p class="typed-words">portais.</p>
            <p class="typed-words">web-apps.</p>
            <p class="typed-words">sites institucionais.</p>                                        
            <p class="typed-words">landing-pages.</p>                    
            <p class="typed-words">e-commerce.</p>
        </strong>
            <strong id="typed"></strong>
        </h2>
        <a class="button is-success button-hero wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="0.8s" title="Vamos trabalhar juntos? :)">Vamos trabalhar juntos? :)</a>
        <div class="learn-more wow fadeInDown" data-wow-duration="0.3s" data-wow-delay="1s">
            <a href="#last-posts" class="go">
            <span>Deixe eu me apresentar</span>
            <i class="fa fa-angle-down" aria-hidden="true"></i>	
        </a>
        </div>
    </div>
</section>
<!-- /HERO -->