<ul class="level-right">
     <li class="level-item menu-item"><a href="/" class="menu-link" title="Home">Home</a></li>
     <li class="level-item menu-item"><a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}#projetos" class="menu-link" title="Projetos">Projetos</a></li>
     <li class="level-item menu-item"><a href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}#sobre-mim" class="menu-link" title="Sobre mim">Sobre Mim</a></li>
     <li class="level-item menu-item"><a href="/blog" class="button is-primary menu-link" title="Blog">Blog</a></li>
</ul>