<ul class="level-right">
     <li class="level-item menu-item"><a href="{{ site.url }}" class="menu-link" title="Home">Home</a></li>
    {% if page.lang == 'en' %}
      <li class="level-item menu-item"><a href="{{ site.url }}/about/" class="menu-link" title="Sobre mim">About</a></li>
     {% else %}
      <li class="level-item menu-item"><a href="{{ site.url }}/sobre/" class="menu-link" title="Sobre mim">Sobre mim</a></li>
    {% endif %}

    {% if page.lang == 'en' %}
      <li class="level-item menu-item"><a href="{{ site.url }}/#contato" class="menu-link" title="Contact">Contact</a></li>
    {% else %}
      <li class="level-item menu-item"><a href="{{ site.url }}/#contato" class="menu-link" title="Contato">Contato</a></li>
    {% endif %}
    {% if page.lang != 'en' %}
     <li class="level-item menu-item"><a href="{{ site.url }}/blog/" class="button is-primary menu-link" title="Blog">Blog</a></li>
    {% endif %}
</ul>
