//SPACING

$spaceamounts: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 60, 70 , 80 , 90 , 100)// Adjust this to include the pixel amounts you need.
$sides: (top, bottom, left, right) // Leave this variable alone


//DEFAULT COLORS
$color-status: "black" "grey-darker" "grey-dark" "grey" "grey-light" "grey-lighter" "white" "orange" "yellow" "green" "turquoise" "blue" "purple" "red" ;
$color-default: $black $grey-darker $grey-dark $grey $grey-light $grey-lighter $white $orange $yellow $green $turquoise $blue $purple $red;   


// POST COLORS
$misc-color: #af1da2
$html-color: #4986b1
$css-color: #378574
$js-color: #f8c101
$blog-color: #C35163
$front-color: #65B149


$color-post: $blog-color $html-color $css-color $js-color $misc-color $front-color;
$type-post: "blog" "html" "css" "js" "misc" "front";
 


// TRANSITION
=transition ($transition, $time, $elements)
     transition: $transition $time $elements




        
    

    
            

  
 