$type-post: "blog" "html" "css" "js" "misc" "front";
$color-post: $blog-color $html-color $css-color $js-color $misc-color $front-color;


// DEFAULT OPTIONS

.ribbon
     position: absolute
     right: -8px
     top: 15px
     width: 110px
     text-align: center
     font-size: 0.9rem
     padding: 2px 0

     a
          color: #fff

     &:before
          content: ""
          width: 0
          height: 0
          border-left: 5px solid transparent
          border-right: 5px solid transparent
          border-bottom: 5px solid #000
          transform: rotate(-139deg)
          position: absolute
          top: -5px
          right: 0

.card-date,
.card-description
     color: #656565
     +transition (ease-in-out, 0.2s, all) 


//VARIABLE COLORS
@each $type in $type-post 
      .post-#{$type} 
            .card                      
                  border: 1px solid gainsboro
                  box-shadow: none
                  cursor: pointer
                  +transition (ease-in-out, 0.2s, all)  

                  .ribbon
                        background-color: nth($color-post, index($type-post, $type)) 
                        border: 1px solid #fff;
                        +transition (ease-in-out, 0.2s, all)  
                  
                  .card-title,                             
                        color: nth($color-post, index($type-post, $type)) 
                        +transition (ease-in-out, 0.2s, all) 
                        margin-bottom: 10px 
                        font-size: 1.3rem

                  .card-description
                        font-size: 1rem
                  
                  .card-date
                        font-size: 0.8rem;               
                  
                  .card-tags
                        border-color: #fff 1px solid
                        transition: ease-in-out 0.2s all
                        display: inline-block
                        background-color: nth($color-post, index($type-post, $type))
                        color: #fff
                        font-size: 0.8rem
                        min-width: 60px
                        text-transform: lowercase
                        text-align: center
                        padding: 3px 8px
                        border-radius: 3px
                        margin: 10px 2px 0 0


    
    
            .card:hover
                  position: relative
                  z-index: 5    
                  transform: translateY(-10px) scale(1.04)
                  background-color: nth($color-post, index($type-post, $type))
                  

                  .card-date,
                  .card-title,    
                  .card-description                         
                        color: #fff 

                  
                  .ribbon,
                  .card-tags  
                        border-color: nth($color-post, index($type-post, $type))  
                        border-width: 1px
                        border-style: solid 
                        background-color: #fff 
                        color: nth($color-post, index($type-post, $type))                    

                  .ribbon a
                        color: nth($color-post, index($type-post, $type))  
                 



           