--- 
layout: default
main-class: 'css'
title: "CSS"
description: "Veja todos os posts relacionados à CSS"
category: "Categoria"
favicon: <i class="fa fa-css3" aria-hidden="true"></i>
category-favicon: <i class="fa fa-th-large" aria-hidden="true"></i>
---

<main class="home" id="scroll" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    <h1 class="is-hidden">CSS</h1>

    <ul class="columns is-multiline category-list">
        {% for post in site.posts %}
            {% if post.main-class == 'css' %}
                <li class="column is-one-third wow bounceInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                        <div class="media">
                            <div class="media-content">
                                <article class="post-{{post.main-class}}" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                                    <div class="card box">
                                            <div class="ribbon">
                                                <a href="{{site.url}}{{site.baseurl}}/category/{{post.main-class}}"><span>{{post.main-class}}</span></a>
                                            </div>
                                            <a href="{{ post.url | prepend: site.baseurl }}">
                                                <meta itemprop="datePublished" content="{{post.date}}">
                                                <time class="card-date" datetime="{{ post.date | date_to_xmlschema }}">
                                                    {% include date.html date=post.date %}
                                                </time>
                                                <h2 class="card-title title is-4" itemprop="name">{{ post.title }}</h2>
                                                <p class="card-description description">
                                                    {{ post.introduction | strip_html | truncatewords:20 }}
                                                </p>
                                            </a>
                                            <div>
                                                {% for tag in post.tags %}
                                                <a class="card-tags" href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>                                  
                                                {% endfor %}
                                            </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

</main>