.button-custom
    padding: 10px 30px;
    margin-bottom: 20px
    font-size: 1.4rem
    line-height: 10px

    @media (max-width:768px)
        font-size: 1.2rem

    @media (max-width:540px)
        font-size: 1rem 



.button
    +transition (ease-in-out, 0.2s, all) 
    &:hover
        transform: scale(1.08) 