.offset
    position: relative
    background: #fff  

.index-offset
    top: 100vh  

.post-offset
    top: 80vh

.default-offset
    top: 50vh

.content-main
    min-height: 100vh
    outline: none
    &:focus,
    &:active
        outline: none
