.contact
     @extend .bg-red
     min-height: 100vh
     padding: 60px 0

     .title
          padding-bottom: 60px
          color: #FFF

     .valid
          background-color: $primary
          color: #fff
          border: 2px solid #fff
          +placeholder
               color: #fff

     .control.has-icons-left
          .input
               height: 3.4em
               padding-left: 3em

          .icon
               color: #4f000d
               font-size: 1.45rem
