<!-- HERO -->
<section class="hero hero-posts has-header" >
    <div class="panel hero-posts-body hero-body">
          {% if page.date %}
            <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="post-date date">{{ page.date | date_to_string }}</time>
          {% endif %}
          <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
          <p itemprop="description" class="post-description subtitle">{{ page.description }}</p>
    </div>
</section>
<!-- /HERO -->