<!-- HERO -->
<section class="hero is-fullheight hero-index has-header">
  <div class="panel hero-index-body hero-body">
    {% if page.lang == 'en' %}
    <a href="{{ site.url }}/en/" title="© 2018 Matheus Barone - Software Engineer | All Rights Reserved"></a>
    {%else %}
    <a href="/blog" title="© 2018 Matheus Barone - Software Engineer | Todos os Direitos Reservados"></a>
    {% endif %}
      {% include svg-icons/logo-full.html %}
    </a>
    <h1 class="title">
      {% if page.lang == 'en' %}
      Hi, my name is Matheus. <span>I'm a Software Engineer</span>
      {% else %}
      Olá, meu nome é Matheus. <span>Trabalho como Software Engineer</span>
      {%endif%}
    </h1>
    <h2 class="subtitle">
      {% if page.lang == 'en' %}
      It means that I develop
      {% else %}
      Isso quer dizer que desenvolvo
      {%endif%}
      <strong id="typed-strings">
        <p class="typed-words">web-apps.</p>
        <p class="typed-words">
        {% if page.lang == 'en' %}
        websites
        {% else %}
        sites institucionais.
        {%endif%}
        </p>
        <p class="typed-words">landing-pages.</p>
        <p class="typed-words">e-commerce.</p>
      </strong>
      <strong id="typed"></strong>
    </h2>


    {% if page.lang == 'en' %}
      <a href="#contact" class="button is-success button-custom" data-wow-duration="0.3s" data-wow-delay="0.8s" title="Need help? :)">
      Need help? :)
      </a>
        {% else %}
        <a href="#contato" class="button is-success button-custom" data-wow-duration="0.3s" data-wow-delay="0.8s" title="Vamos trabalhar juntos? :)">
        Precisa de ajuda? :)
      </a>
    {%endif%}


    <div class="learn-more">
      <a href="#last-posts" class="go">
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</section>
<!-- /HERO -->
