<!-- HERO -->
<section class="hero is-fullheight hero-index has-header" >
    <div class="panel hero-index-body hero-body">
        <a href="/blog" title="© 2017 Matheus Barone - Desenvolvedor Front-end | Todos os Direitos Reservados">
            {% include svg-icons/logo-full.html %}
        </a>
        <h1 class="title">
            Olá, meu nome é Matheus. <span>Sou desenvolvedor Front-end</span>
        </h1>
        <h2 class="subtitle">
            Isso quer dizer que crio
            <strong id="typed-strings">
            <p class="typed-words">portais.</p>
            <p class="typed-words">web-apps.</p>
            <p class="typed-words">sites institucionais.</p>                                        
            <p class="typed-words">landing-pages.</p>                    
            <p class="typed-words">e-commerce.</p>
        </strong>
            <strong id="typed"></strong>
        </h2>

       
        <a href="#contato" class="button is-success button-custom" data-wow-duration="0.3s" data-wow-delay="0.8s" title="Vamos trabalhar juntos? :)">Precisa de ajuda? :)</a>
        

        <div class="learn-more">
            <a href="#last-posts" class="go">
            <i class="fa fa-angle-down" aria-hidden="true"></i>	
        </a>
        </div>
    </div>
</section>
<!-- /HERO -->