---
layout: compress
head-class: default

---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    <!-- HEAD -->
    {% include head.html %}
    <!-- /HEAD -->
    <body>
        <!-- ANALYTICS -->
        {% include analytics.html %}
        <!-- /ANALYTICS -->

        <!-- HEADER -->
        <div id="top"></div>
        {% include header.html %}
        <!-- /HEADER -->

        <!-- HERO -->
        {% include hero/hero-default.html %}
        <!-- HERO -->

        <!-- OFFSET -->
        <div class="offset default-offset {% if page.about %}{{ page.about }}{% endif %}">

            <!-- CONTENT -->
            <div class="container p-t-30 main-container">

                <!-- BREADCRUMB -->
                <nav class="breadcrumb is-small  {% if page.about %}{{ page.about }}{% endif %}" aria-label="breadcrumbs">
                    <ul>
                        <li><a href="{{site.baseurl}}/"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Home</span></a></li>
                        {% if page.category %}
                        <li class="is-category"><a href="#" aria-current="page"><span class="icon is-small">{{ page.category-favicon }}</span><span>{{page.category}}</span></a></li>
                        {% endif %}
                        <li class="is-active"><a href="#" aria-current="page"><span class="icon is-small">{{ page.favicon }}</span><span>{{ page.title }}</span></a></li>
                    </ul>
                </nav>
                <!-- BREADCRUMB -->

                <!-- CONTENT -->
                    {{ content }}
                <!-- CONTENT -->
            </div>

            <!-- FOOTER -->
            {% include footer.html %}
            <!-- /FOOTER -->

        </div>
        <!-- OFFSET -->

        <!-- ARROW -->
        <a href="#top" class="up-arrow">
            <svg class="icon-uparrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#up-arrow"></use>
            </svg>
        </a>
        <!-- ARROW -->
    </body>
