---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    <!-- HEAD -->
    {% include head.html %}
    <!-- /HEAD -->
    <body>
        <!-- ANALYTICS -->
        {% include analytics.html %}
        <!-- /ANALYTICS -->

        <!-- HEADER -->
        <div id="top"></div>
        {% include header-default.html %}
        <!-- /HEADER -->
        
        <!-- HERO -->
        {% include hero-default.html %}
        <!-- HERO -->

        <div class="offset default-offset">

            <!-- CONTENT -->
            <div class="container p-t-60 main-container">

        <!-- BREADCRUMB -->
            <nav class="breadcrumb is-small" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{site.baseurl}}/"><span class="icon is-small"><i class="fa fa-home"></i></span><span>Home</span></a></li>                    
                    {% if page.category %}
                    <li class="is-category"><a href="#" aria-current="page"><span class="icon is-small">{{ page.category-favicon }}</span><span>{{page.category}}</span></a></li>                                        
                    {% endif %}
                    <li class="is-active"><a href="#" aria-current="page"><span class="icon is-small">{{ page.favicon }}</span><span>{{ page.title }}</span></a></li>
                </ul>
            </nav>
            <!-- BREADCRUMB -->

                {{ content }}  

            </div>   
            <!-- CONTENT -->

            <!-- ARROW -->
            <a href="#top" class="up-arrow">
                <i class="fa fa-chevron-up" aria-hidden="true"></i>
            </a>
            <!-- ARROW -->

            <!-- FOOTER -->
            {% include footer.html %}
            <!-- /FOOTER -->
        </div>

    </body>
