---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/WebPage" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
     <!-- HEAD -->
     {% include head.html %}
     <!-- /HEAD -->
     <body>
          <div id="top"></div>
          <section id="main-box" class="main-box">

               <!-- ANALYTICS -->
               {% include analytics.html %}
               <!-- /ANALYTICS -->

               <!-- HEADER -->
               {% include header.html %}
               <!-- /HEADER -->

               <!-- /HERO -->
               {% include hero/hero-index.html %}
               <!-- HERO -->

               <!-- OFFSET -->
               <div class="offset index-offset">

                    <!-- CONTENT -->
                    {{ content }}
                    <!-- /CONTENT -->

                    <!-- FOOTER -->
                    {% include footer.html %}
                    <!-- /FOOTER -->

               </div>
               <!-- OFFSET -->

               <!-- ARROW -->
               <a href="#top" class="up-arrow">
                    <svg class="icon-uparrow">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#up-arrow"></use>
                    </svg>
                </a>
               <!-- ARROW -->

          </section>
     </body>