---
<!-- layout: compress  -->
---

<!DOCTYPE html>
<html lang="pt-br" itemscope itemtype="http://schema.org/BlogPosting" {% if page.main-class %}class="post-{{ page.main-class }}"{% endif %}>
    <!-- HEAD -->
    {% include head.html %}
    <!-- /HEAD -->
    <body>
        <!-- ANALYTICS -->
        {% include analytics.html %}
        <!-- /ANALYTICS -->

        <!-- HEADER -->
        {% include header-default.html %}
        <!-- /HEADER -->

        <!-- HEADER POST -->
        <header class="header-post" role="banner">
            <div class="container">
                <div class="content">
                    {% if page.date %}
                        <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}" class="date">{{ page.date | date_to_string }}</time>
                    {% endif %}
                    <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
                    <p itemprop="description" class="subtitle">{{ page.description }}</p>
                </div>
            </div>
        </header>
        <!-- /HEADER POST -->

        <!-- POST -->
        <section class="post">
            <!-- CONTENT -->
            <article class="container" role="article" id="post" class="post-content" itemprop="articleBody">
                {{ content }}
            </article>
            <!-- CONTENT -->

            <section class="container">                
                <!-- COMENTS -->
                {% include comments.html %}
                <!-- COMENTS -->
            </section>

            <!-- FOOTER -->
            {% include footer.html %}
            <!-- FOOTER -->

        </section>
        <!-- POST -->

    </body>
</html>
