<style>
body,
h1,
h2 {
  font-weight: 400;
}

strong {
  color: #363636;
}

body {
  color: #4a4a4a;
}

header,
section {
  display: block;
}

.button {
  -webkit-touch-callout: none;
}

.button {
  -moz-appearance: none;
  -webkit-appearance: none;
}

img {
  max-width: 100%;
}

.hero,
.hero-body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}

body,
h1,
h2,
html,
li,
p,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-size: 100%;
}

ul {
  list-style: none;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
:after,
:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: Montserrat,sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  color: #2ab7cd;
  text-decoration: none;
}



img {
  height: auto;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

.is-hidden {
  display: none!important;
}



.button {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #dbdbdb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  line-height: 1.5;
  padding-bottom: -webkit-calc(.375em - 1px);
  padding-bottom: calc(.375em - 1px);
  padding-top: -webkit-calc(.375em - 1px);
  padding-top: calc(.375em - 1px);
  position: relative;
  vertical-align: top;
  background-color: #fff;
  color: #363636;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
  white-space: nowrap;
}

.button.is-primary {
  background-color: #cd2b46;
  border-color: transparent;
  color: #fff;
}

.button.is-success {
  background-color: #149000;
  border-color: transparent;
  color: #fff;
}

.container {
  margin: 0 auto;
  position: relative;
}

.subtitle:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 1.5rem;
}

.subtitle,
.title {
  word-break: break-word;
}

.title span {
  font-weight: inherit;
}

.title {
  color: #363636;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
}

.title:not(.is-spaced)+.subtitle {
  margin-top: -1.5rem;
}

.subtitle {
  color: #4a4a4a;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
}

.subtitle strong {
  color: #363636;
  font-weight: 600;
}

.level {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.level.is-mobile .level-item:not(:last-child) {
  margin-bottom: 0;
}

.level.is-mobile,
.level.is-mobile .level-left,
.level.is-mobile .level-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.level-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.level.is-mobile .level-item:not(.is-narrow) {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.level-item,
.level-left {
  -webkit-box-align: center;
}

.level-item {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.level-left,
.level-right {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.level-left {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.level-right {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.hero {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-body {
  padding: 3rem 1.5rem;
}

.hero.is-fullheight .hero-body {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.up-arrow {
  display: block;
}

.hero.is-fullheight {
  min-height: 100vh;
}

* {
  margin: 0;
}

.hero-body {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}

* {
  list-style-type: none;
  padding: 0;
}

.button-custom {
  padding: 10px 30px;
  margin-bottom: 20px;
  font-size: 1.4rem;
  line-height: 10px;
}

.hero,
.mast-header {
  position: fixed;
  width: 100%;
}

.mast-header {
  z-index: 10;
  -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.12);
  box-shadow: 0 3px 5px rgba(0,0,0,.12);
  padding: 5px 10px;
  top: 0;
  background: #fff;
}

.mast-header.is-index {
  top: -46px;
}

.mast-header .logo-simple .logo-simple-1 {
  fill: #000200;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}



.mast-header .logo-simple .logo-simple-2 {
  fill: none;
}

.mast-header .logo-simple .logo-simple-3 {
  fill: #fff;
}

.menu-link:not(.button):not(.button-submit):not(.button-submit) {
  margin-right: 10px;
  color: #000;
}

.menu-link {
  font-size: .95em;
}

.hero {
  min-height: 100vh;
  height: 100vh;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hero-body {
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-index-body .subtitle,
.hero-index-body .title,
.hero-index-body .title span {
  display: block;
}



.hero-index {
  min-height: 100vh;
  height: 100vh;
  background: url(assets/dist/images/bg-header.jpg) center top no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.hero-index-body {
  height: 100vh;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.hero-index-body .logo-full {
  width: 120px;
}

.hero-index-body .logo-full .logo-full-1 {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 3px;
  fill: #fff;
}



.hero-index-body .logo-full .logo-full-2 {
  fill: #000;
}

.hero-index-body .subtitle,
.hero-index-body .subtitle strong,
.hero-index-body .title {
  color: #f5f5f5;
}

.hero-index-body .title {
  padding: 0 0 10px;
  font-size: 3.5rem;
}

.hero-index-body .subtitle {
  font-weight: 400;
  font-size: 2rem;
}

.hero-index-body .subtitle .typed-words {
  display: initial;
}

#typed-strings {
  display: none;
}

.learn-more {
  padding: 20px;
  white-space: nowrap;
  z-index: 2;
  text-decoration: none;
}





.learn-more .fa {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  color: #aaa9a9;
  font-size: 30px;
  padding-top: 10px;
}

.offset {
  position: relative;
  background: #fff;
}

.index-offset{
    top: 100vh;

}

.main-container {
  padding-right: 10px;
  padding-left: 10px;
}






@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
    visibility: visible;
  }

  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-15%);
    transform: translateY(-15%);
  }
}

@media screen and (min-width:769px),print {
  .level {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }

  .level-right .level-item:not(:last-child) {
    margin-right: .75rem;
  }

  .level {
    display: flex;
  }

  .level-left,
  .level-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width:1024px) {
  .container {
    max-width: 960px;
    width: 960px;
  }
}

@media screen and (min-width:1216px) {
  .container {
    max-width: 1152px;
    width: 1152px;
  }
}

@media screen and (min-width:1408px) {
  .container {
    max-width: 1344px;
    width: 1344px;
  }
}

@media (max-width:1024px) {
  .hero-index-body .title {
    font-size: 2.5rem;
  }

  .hero-index-body .subtitle {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:768px) {
  .level-item:not(:last-child) {
    margin-bottom: .75rem;
  }
}

@media (max-width:768px) {
  .button-custom {
    font-size: 1.2rem;
  }
}

@media (max-width:540px) {
  .button-custom {
    font-size: 1rem;
  }

  .menu-link:not(.button):not(.button-submit):not(.button-submit) {
    margin-right: 8px;
  }

  .menu-link {
    font-size: .8rem;
  }

  .hero-index-body .title {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .hero-index-body .subtitle {
    padding-bottom: 10px;
    font-size: 1.2rem;
    max-width: 200px;
  }
}

@media (max-width:420px) {
  .hero-index-body .logo-full {
    width: 80px;
  }

  .hero-index-body {
    padding: 30px 20px 0;
  }
}

@media (max-width:380px) {
  .hero-index-body {
    padding-bottom: 50px;
  }
}

@media (max-width:340px) {
  .menu-link {
    font-size: .74rem;
  }

  .hero-index-body .title {
    font-size: 1.7rem;
  }
}
</style>
